#DailyCOVID {
    max-width:100%;
    display:block;
    background-color: #282828;
    color: white;
    width: 100%;
    margin: 0 auto 2px;
    font-weight: bold;

}

/*Link to similar shades to blue box: https://www.color-hex.com/color/00aef0*/

#DailyCOVID:hover {
  opacity: 0.5;
  color: white;
}

#PortalFooter {
    background: #282828 !important;
    color: #FFFFFF !important;
    text-align: center !important;
}

.PageOptions img:hover {
    opacity: 0.5;
}

#MoreCOVIDNews {
    max-width:15%;
    display:block;
    background-color: #00aef0;
    color: white;
    width: 100%;
    margin: 0 auto 10px;
}

#MoreCOVIDNews:hover {
  opacity: 0.5;
  color: white;
}

.PageOptions1 img:hover {
    opacity: 0.5;
}