#news_header{
    text-align: center;
}

#filter_position{
    padding-right: 20px; padding-bottom: 5px
}

#view-filter{
    width:150px;
}
.news_card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.news_card:hover {

  filter: brightness(90%);
  color: #737373;
}

#Latest_news_section_header{
    text-align: center;
    padding-top:60px;
    /*margin:20px*/
}

.news_image{
    border-radius: 5px;
}

.news_title_link{
    color: black;
    font-size: 24px;
    line-height: 22pt
}

.news_text{
    margin-top: 0.75rem
}

.news_date{
    padding-top: 8px;
    padding-left: 20px;
    height: 20px;
}

.announcement_button:hover {
    filter: brightness(90%);
}

.continue_button{
    padding-right:0;
    padding-top: -2px;
    text-decoration: underline;
    color:  #00aef0;
}

.continue_button:hover{
    filter: brightness(90%);
}


#MoreCOVIDNews {
    /*max-width:15%;*/
    display:block;
    background-color: #00aef0;
    color: white;
    width: 100%;
    margin: 0 auto 10px;
}

#MoreCOVIDNews:hover {
    filter: brightness(90%);
    color: white;
}

.announcement{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    padding-top: 17px;
    padding-left: 10px
}

.news_view {

}